# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# User-specific stuff
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Flutter/Dart/Pub related
**/doc/api/
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/src/debug
**/android/app/src/profile

# Coverage
coverage/

# Artifacts & temp
*.png
!assets/images/logo.png
